@import '../../styles/settings.scss';

.card {
	position: relative;
	background: $color-light;
	border: 1px solid lighten($color-dark, 60%);
	padding: $base-size;
	margin: 0 0 $base-size 0;
	border-radius: $radius;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.favorite {
	background-color: #f7f7f7;
	border: 1px solid #ccc;

	i {
		color: darkorange;
	}
}

.favoriteButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
