@use 'sass:math';
@import '../../styles/settings.scss';

.bigHeader {
	text-transform: uppercase;
	text-align: center;
}

.listBox {
	display: flex;
	justify-content: center;

	.cards {
		flex-shrink: 0;
		width: calc(33% - 12px);
		background: $color-light;
		margin-top: 100px;
		padding: 20px;
		border-radius: $radius;
		box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
		color: $color-dark;
	}

	.noCards {
		flex-shrink: 0;
		width: calc(33% - 12px);
		background: $color-light;
		margin-top: 100px;
		padding: 40px 20px;
		border-radius: $radius;
		box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.1);
		color: $color-dark;
		text-align: center;
		font-weight: 700;
	}
}

@media (max-width: 767px) {
	.listBox {
		margin: 0 30px;

		.cards {
			width: 100%;
		}
	}
}
