@import '../../styles/settings.scss';

.navbar {
	background-color: darken($color-dark, 3%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;

	div {
		font-size: 24px;
	}
}

.navbarLinks {
	display: flex;
	list-style-type: none;

	a {
		color: white;
		margin-right: 20px;
		text-decoration: none;

		&.linkActive {
			color: $color-warning;
		}
	}
}
